<div class="center hero-unit">
    <h1>Kithab@2k14</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Kithab book store</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  
<div></br>
  <%= link_to image_tag("five.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("twelve.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("tw0.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("three.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("ten.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("six.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("seven.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("ruby2.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("ruby.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
<%= link_to image_tag("one.jpeg", alt: "Rails",:width => 200, :height => 500, :crop => :fil), 'http://rubyonrails.org/' %>
</div>


  </div>
